{{- range resources.Match "pkgs/*.toml" }}
{{- $tt := replace .Title "/pkgs/" "" }}
{{- $tt = replace $tt ".toml" "" }}
{{- $d := dict }}
{{- with $vv := . | transform.Unmarshal }}
{{- $d = $vv }}
{{- end }}
{{- if $d }}
{{- $p := dict
	"kind" "page"
	"params" (dict "toml" (dict "value" $d "short" $tt))
	"path" $tt
	"title" ($d.name | default $tt)
	"layout" "pkg"
}}
{{- $.AddPage $p }}
{{- end }}
{{- end }}