{{- define "title" }}
{{ $titles := slice .Title -}}
{{- $paginator := partial "paginate.html" . }}
{{- if and $paginator (gt $paginator.PageNumber 1) -}}
{{- $titles = $titles | append (printf " (page %v)" $paginator.PageNumber) -}}
{{- end }}
{{- partial "title.html" (dict "titles" $titles) -}}
{{- end }}
{{- define "main" }}
<h1>{{ .Title }}</h1>
{{- $fi := os.Stat "assets/pkgs/" }}
{{- $lmd := printf "<script>document.write(ts_to_readable_time(get_timestamp(%q), false, %q, false));</script>" $fi.ModTime "" }}
<p>{{ T "lastmod_short" $lmd | safeHTML }}</p>
{{- $paginator := partial "paginate.html" . }}
<p>{{ T "packnum" ($paginator.Pages | len | default 0) }}</p>
{{- range $paginator.Pages }}
<div>
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{- $v := .Params.toml.value }}
{{- with $v.description }}
<p>{{ . }}</p>
{{- end }}
<p>{{ T "pkg_author" }}:{{ if $v.author.homepage }}<a href="{{ $v.author.homepage | default "" }}">{{ $v.author.name }}</a>{{ else }}<p>{{ $v.author.name }}</p>{{ end }}</p>
{{- $mt := printf "<script>document.write(ts_to_readable_time(get_timestamp(%q), false, %q, false));</script>" .Lastmod "" }}
<p>{{ T "lastmod_short" $mt | safeHTML }}</p>
</div>
{{- end }}
{{ partial "pagination.html" (dict "paginator" $paginator) }}
{{- end }}