{{- define "main" }}
<h1>{{ .Title }}</h1>
{{- $d := dict }}
{{- with .Params.toml }}
{{- $d = . }}
{{- end }}
{{- if $d }}
{{- $v := $d.value }}
{{- with $v.description }}
<p>{{ . }}</p>
{{- end }}
<p>{{ T "pkg_author" }}:{{ if $v.author.homepage }}<a href="{{ $v.author.homepage | default "" }}">{{ $v.author.name }}</a>{{ else }}<p>{{ $v.author.name }}</p>{{ end }}</p>
<p><a href="{{ $v.download_url | safeURL }}">{{ T "pkg_download" .Title }}</a></p>
<p>{{ T "pkg_install" }}</p>
<pre data-lang="bash">
nvgtpkg install {{ $d.short }}
</pre>
<p>{{ T "pkg_use" }}</p>
<pre data-lang="nvgt">
#include "{{ $d.short }}/main.nvgt"
</pre>
</details>
{{- end }}
{{- end }}